{% extends 'base.html' %}


{% block title %}Panix Firewall Automation{% endblock %}


{% include 'navbar.html' %}

{% block content %}

 <div class="jumbotron">
				<h3>Subinterfaces Deployed!</h3>
				<p class="lead"></p>
        </div>

<div class="container">


<div class="row">

<h2>Notice!!</h2>

{{ fwip }}

  <p> Subinterfaces have been successfully deployed! n</p>
  <form  method="POST" action="{{ url_for('main_app.return_to') }}">

    <br>
    <hr>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Back to Main</button>
    <input type="hidden" name=controller value={{ controller }}>

</form>
{% endblock %}
